# Backend
backend/vendor/
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/database/database.sqlite

# Scraper
backend/scraper/node_modules/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# OS
.DS_Store
